asgiref==3.10.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==40.0.2
Deprecated==1.2.18
Django==6.0a1
django-cors-headers==4.9.0
idna==3.11
jwcrypto==1.4
pycparser==2.23
python-dotenv==1.1.1
requests==2.32.5
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.5.0
wrapt==1.17.3
