{% extends "base.html" %}

{% block content %}
    {% if is_staff %}
    <form method="get" action="/admin">
        <input class="gwknop" type="submit" value="Admin site">
    </form>
    {% endif %}
    <form method="get" action="{% url 'groepen-list' %}">
        <input class="gwknop" type="submit" value="Groepen">
    </form>
    <br/><br/>
    <table>
    {% for application in applications %}
        <tr>
            <td>
                <a href="{% url 'edit-application' application=application.name %}"><b>{{ application.name }}</b></a>
            </td>
            <td>
                <form method="get" action="{% url 'user-list' application=application.name %}">
                    <input class="gwknop" type="submit" value="Gebruikers">
                </form>
            </td>
            <td>
                <form method="get" action="{% url 'edit-rollen' application=application.name %}">
                    <input class="gwknop" type="submit" value="Rollen">
                </form>
            </td>
            <td>
                <button class="gwknop" onclick="kopieerTestUrl('{{ application.name }}', '{{ application.grant_type }}', this)">Test URL</button>
            </td>
{% if is_staff %}
            <td>
                <form method="get" action="{% url 'set-app-password' application=application.name %}">
                    <input class="gwknop" type="submit" value="Wachtwoord">
                </form>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
        <tr>
            <td>
                <form id="nieuwe_applicatie" method="get" action="{% url 'new-application' %}">
                    <input type="text" name="application" placeholder="naam van applicatie">
                </form>
            </td>
            <td>
                <input form="nieuwe_applicatie" class="gwknop" type="submit" value="Maak nieuwe applicatie">
            </td>
        </tr>
    </table>

<script>
function kopieerTestUrl(application, grantType, btn) {
    var path = grantType === 'openid-hybrid'
        ? '/test/hybrid/' + application + '/login/'
        : '/test/authcode/' + application + '/login/';
    var url = window.location.origin + path;
    navigator.clipboard.writeText(url).then(function() {
        var orig = btn.textContent;
        btn.textContent = 'Gekopieerd!';
        setTimeout(function() { btn.textContent = orig; }, 2000);
    });
}
</script>
{% endblock %}