{% extends "base.html" %}

{% block content %}
    <h2>
        Fictieve accounts, gebruik alleen met fictieve data
    </h2>
    <table>
        {% for user in usergrouplist %}
        <tr>
        <td>
            <form method="post" id={{ user.form_id }} action="{% url 'testlogin' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value={{ next }}>
                <input type="hidden" name="userid" value={{ user.userid }}>
                <button class="gwknop" type="submit" form={{ user.form_id }} name="event" value="login">Login</button>
            </form>
        </td>
        <td>
            {{ user.username }}
        </td>
        <td class="rolhorizontaal">
            {{ user.groups }}
        </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}