{% extends "base.html" %}

{% block content %}
    <h2>
        Fictieve accounts voor {{ application }}, gebruik alleen met fictieve data
    </h2>
    <table>
        <th>
            Gebruikersnaam
        </th>
        {% for user in user_list %}
        <tr>
            <td>
                <a href="{% url 'user-detail' userid=user.id %}">{{ user.locusername }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    
    <form method="get" action="{% url 'new-user' application=application %}">
        <input type="submit" value="nieuwe gebruiker">
    </form>
    
{% endblock %}