{% extends "base.html" %}

{% block content %}
    <form method="post" action="{% url 'user-detail' userid=userform.instance.id %}">
        {% csrf_token %}
        {{ userform }}
        <input type="submit" value="Bijwerken">
    </form>
    <form method="get" action="{% url 'user-delete' userid=userform.instance.id %}">
        <input type="submit" value="Verwijder">
    </form>
    <form method="get" action="{% url 'user-list' applicatie=userform.instance.applicatie.name %}">
        <input type="submit" value="Lijst gebruikers">
    </form>
{% endblock %}